* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgba(0, 0, 0, 0.75);
}
header {
  height: 6rem;
  height: 100%;
  background-color: rgb(2, 2, 30);
}

header div img {
  width: 4%;
  margin: 1rem 0;
  margin-left: 1rem;
}
header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header div span {
  color: white;
  margin-left: 1.2rem;
  font-size: 1.5rem;
}

#hero {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
#hero aside:last-child img {
  width: 80%;
  height: 100%;
  border: 2px solid rgb(2, 2, 30);
}

#hero aside:first-child {
  width: 50%;
  margin: 0 5rem;
}
#hero aside:first-child h1 {
  color: rgb(2, 2, 30);
  font-size: 3rem;
  margin-bottom: 4rem;
}
#hero aside:first-child p {
  color: white;
  font-size: 1.2rem;
}

#events {
  display: flex;
  margin: 10rem 4rem;
  justify-content: space-between;
  align-items: center;
}
#events div:nth-child(3) img {
  width: 75%;
  border: 2px solid rgb(2, 2, 30);
}
#events div:nth-child(2) {
  width: 60%;
  margin: 0 7rem;
}
.fas {
  font-size: 5rem;
  width: 5%;
  color: rgb(2, 2, 30);
}
.fas:hover {
  color: rgb(2, 2, 30, 0.75);
}
#events div:nth-child(2) h2 {
  color: rgb(2, 2, 30);
}
#events div:nth-child(2) p {
  color: white;
  margin-top: 2rem;
}
#events div:nth-child(2) p a {
  color: rgb(2, 2, 30, 0.6);
  text-decoration: none;
}
