* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: red;
}
header {
  height: 6rem;
  height: 100%;
  background-color: rgb(2, 2, 30);
}

header div img {
  width: 4%;
  margin: 1rem 0;
  margin-left: 1rem;
}
header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header div span {
  color: white;
  margin-left: 1.2rem;
  font-size: 1.5rem;
}

#hero {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
#hero aside:last-child img {
  width: 80%;
  border-radius: 1rem;
}

#hero aside:first-child {
  width: 50%;
  margin: 0 5rem;
}
#hero aside:first-child h1 {
  color: rgb(2, 2, 30);
  font-size: 3rem;
  margin-bottom: 4rem;
}
#hero aside:first-child p {
  color: white;
  font-size: 1.2rem;
}
#hero aside:first-child p a {
  color: rgb(2, 2, 30, 0.55);
  text-decoration: none;
}
#events {
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
  align-items: center;
}
#events div:nth-child(3) img {
  width: 100%;
}
#events div:nth-child(2) {
  width: 30%;
}
